<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Admin/admin_base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="vh-100">
    <div class="container py-5 my-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-6">
                <div class="card bg-whitesmoke" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form th:action="@{/admin/updateProductProcess}" method="post" th:object="${product}" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <div th:if="${session.message}">
                                        <div th:classappend="${session.message.type}" class="alert" role="alert">
                                            <p th:text="${session.message.content}"></p>
                                        </div>
                                        <th:block th:text="${@sessionHelper.removeSessionAttribute()}"></th:block>
                                    </div>
                                    <h2 class="text-center mb-5">Update Product</h2>
                                    <div class="input-group d-flex">
                                        <i class="input-group-text">
                                            <img th:src="@{/image/tshirt.png}" alt="" width="auto" height="22vh">
                                        </i>
                                        <input
                                                type="number"
                                                id="productId"
                                                name="productId"
                                                class="form-control"
                                                placeholder="Product Id"
                                                th:value="${result.id}"
                                                readonly
                                        >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group d-flex">
                                        <i class="input-group-text">
                                            <img th:src="@{/image/tshirt.png}" alt="" width="auto" height="22vh">
                                        </i>
                                        <input
                                                type="text"
                                                id="productName"
                                                name="productName"
                                                class="form-control"
                                                placeholder="Product Name"
                                                th:value="${result.name}"
                                                required
                                        >
                                    </div>
                                </div>
                                <div class="mb-3 d-flex">

                                    <label for="category" class="input-group d-flex">
                                        <i class="input-group-text">
                                            <img th:src="@{/image/tshirt.png}" alt="" width="auto" height="22vh">
                                        </i>
                                        <select id="category" name="category" class="input-group-text" required>
                                            <option name="none" value="" selected>Select the category</option>
                                            <option name="mens" value="mens">Mens</option>
                                            <option name="women" value="women">Women</option>
                                            <option name="kids" value="kids">Kids</option>
                                            <option name="footwear" value="footwear">Footwear</option>
                                        </select>
                                    </label>

                                    <div class="input-group d-flex">
                                        <i class="input-group-text" style="font-size: large">₹</i>
                                        <input
                                                type="number"
                                                id="price"
                                                name="price"
                                                class="form-control"
                                                placeholder="Price"
                                                th:value="${result.price}"
                                                required
                                        >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input
                                                type="file"
                                                id="imageUrl"
                                                name="imageUrl"
                                                class="form-control"
                                                accept=".png, .jpg, .jpeg"
                                                required
                                        >
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <textarea
                                            id="description"
                                            name="description"
                                            class="form-control"
                                            placeholder="Product Description"
                                            th:text="${result.description}"
                                    ></textarea>
                                </div>
                                <div class="container text-center">
                                    <button type="submit" id="updateProduct" class="btn btn-success btn-pill-large">Update Product</button>
                                    <button type="button" id="cancelBtn" class="btn btn-secondary btn-pill">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.tiny.cloud/1/bn0rykzu0lra4f98z0mt5bn9pgw441o4y244sdsrwlwj2cu1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#description',
        height: 250,
        statusbar: false,
    });
</script>
</body>
</html>