<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Public/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<section>
    <div class="banner-about img-fluid">
        <div class="container mt-5 pt-3">
            <div class="lead text-white pt-5">
                <p class="fs-3 fw-normal text-center animate__animated animate__fadeInDown">
                    Welcome to VogueTrendz: Your Ultimate Fashion Destination!
                </p>
                <div class="py-3 text-center animate__animated animate__fadeIn animate__delay-1s animate__slow"><img src="/image/Logo.png" alt="Logo"></div>
                <div class="py-3 text-justify animate__animated animate__fadeIn animate__delay-2s">
                    <p>
                        At VogueTrendz, we believe that fashion is an art form, a powerful means of self-expression that knows no boundaries. Our mission is to bring the world's latest and greatest in fashion right to your doorstep. We're your one-stop shop for everything stylish, offering a curated collection of trending clothes and accessories for men, women, and kids, designed to elevate your everyday look.
                        Whether you're a trendsetter or a classic enthusiast, VogueTrendz has something special for every individual who values fashion. We take pride in staying ahead of the curve and keeping our finger on the pulse of the ever-evolving world of style.
                    </p>
                    <p>
                        Our team of fashion enthusiasts scours the globe to bring you the most exciting, on-trend pieces, ensuring that you're always dressed to impress.
                        Explore our virtual racks and discover a treasure trove of clothing and accessories that cater to every taste and age. From chic apparel that turns heads to accessories that add the perfect finishing touch, VogueTrendz is your fashion sanctuary.
                    </p>
                    <p>
                        Join us on a journey of self-expression and confidence through fashion. Embrace the trends, find your style, and make every day a runway with VogueTrendz. Your unique fashion statement awaits!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>