.form-style{
    background-color: whitesmoke;
    border-radius: 15px;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.btn-pill{
    border-radius: 100px;
    width: 100px;
}

.bg-black{
    background: black;
}

.bg-dark-gray{
    background: rgba(0,0,0,.7);
}

.banner-home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../image/image1.jpg");
    background-size: cover;
    object-fit: cover;
    color:  whitesmoke;
}

.banner-about{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../image/image3.jpg");
    background-size: cover;
    object-fit: cover;
    color: whitesmoke;
}

.banner-login{
    border-radius: 1rem 0 0 1rem ;
    height: 100%;
    object-fit: cover;
}

.banner-register{
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    object-fit: cover;
}

.banner-collections{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    background-size: cover;
    object-fit: cover;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    right: 0;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown:hover>.full-dropdown{
    border-radius: 1rem 1rem 1rem 1rem;
    display: table;
    width: 100%;
    text-align: center;
    left: -20vh;
    right: 0;
}

.full-dropdown>li{
    display: table-cell;
}

.collection-style{
    border-radius: 1rem 1rem 1rem 1rem;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.collection-card{
    border-radius: 1rem 1rem 1rem 1rem;
    width: 45vh;
    height: auto;
}

.collection-image{
    border-radius: 1rem 1rem 0 0;
    height: 50vh;
    object-fit: cover;
}

@media only screen and (max-width: 991px)  {
    .full-dropdown>li{
        display: block;
        width: 100%;
    }

    .banner-about{
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../image/image3.jpg");
        background-size: cover;
        object-fit: cover;
        color: whitesmoke;
    }
}

.admin-text-style{
    font-family: Algerian, cursive;
    font-size: 8vh;
    color: whitesmoke;
}