<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Customer/customer_base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <section>
        <div class="container p-5">
            <div class="row mt-4 pt-5 g-3" th:if="${!products.isEmpty()}">
                <div th:each="p: ${products}" class="col">
                    <div class="card collection-card bg-secondary">
                        <div>
                            <a href="#">
                                <img th:src="@{'/image/'+${p.image}}" th:alt="${p.getCategory()} +' img'" class="card-img-top collection-image">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="#" class="nav-link fs-2 fw-bold" th:text="${p.getName()}"></a>
                            <span class="fw-bold">
                                <span th:text="${p.getPrice()}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-5" th:unless="${!products.isEmpty()}">
                <div class="container text-center fs-3" th:text="${message}"></div>
            </div>
        </div>
    </section>
</body>
</html>